
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; 
    color: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    padding: 10px;
  }
  
  h3 {
    color: #12524a; 
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
  }
  
  h2 {
    color: #4caf50; 
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  
  .chat-container {
    width: 90%;
    max-width: 600px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .chat-header {
    padding: 20px;
    background-color: #00796b; 
    text-align: center;
    border-bottom: 2px solid #eeeeee;
    color: white;
  }
  
  .chat-header h3 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  
  .chat-header h2 {
    font-size: 1.1rem;
    font-weight: 400;
  }
  
  
  .chat-body {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto; 
    margin-bottom: 60px;
    background-color: #eaf0f3; 
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #eeeeee;
  }
  
  
  .user-msg,
  .bot-msg {
    max-width: 75%;
    padding: 12px;
    border-radius: 10px;
    font-size: 1rem;
    line-height: 1.5;
    word-wrap: break-word;
  }
  
  .user-msg {
    background-color: #00796b; 
    align-self: flex-start;
    color: white;
    margin-bottom: 10px;
  }
  
  .bot-msg {
    background-color: #f4f4f4; 
    align-self: flex-end;
    color: #333;
    border: 1px solid #ddd; 
    margin-bottom: 10px;
  }
  
 
  .loading {
    align-self: center;
    width: 40px;
    height: 40px;
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #4caf50; 
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
  }
  
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
 
  .chat-input {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: #ffffff; 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd; 
  }
  
  .userQuery {
    flex-grow: 1;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #f4f4f4; 
    color: #333;
  }
  
  .send-button {
    padding: 10px 15px;
    background-color: #00796b; 
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .send-button:hover {
    background-color: #004d40; 
  }
  .AItag{
    /* width:10%; */
    /* max-width: 30px;
    height: 50vh; */
    overflow: none;
    white-space: pre;
    display: flex;
    flex-direction: column;
  }